@font-face {
	font-family: kepler-b;
	src: url(kepler-std/KeplerStd-BoldCapt.otf);
}

@font-face {
	font-family: kepler-bb;
	src: url(kepler-std/KeplerStd-BoldCapt.otf);
}

@font-face {
	font-family: AvenirNext-Bold;
	src: url(avenir/AvenirNext-Bold-01.ttf);
}

@font-face {
	font-family: AvenirNext-DemiBold;
	src: url(avenir/AvenirNext-DemiBold-03.ttf);
}

@font-face {
	font-family: AvenirNext-Medium;
	src: url(avenir/AvenirNext-Medium-06.ttf);
}

@font-face {
	font-family: AvenirNext-Regular;
	src: url(avenir/AvenirNext-Regular-08.ttf);
}

/* declaration end */

body {
	overflow-x: hidden;
}

/*
============================
	START OF TEXT CLASSES
============================
*/
h2 {
	font-family: 'kepler-b', serif;
	font-size: 7em;
	line-height: 0.8;
	margin-top: 0px;
}

/* Landing page bio text */
p.intro {
	color: #5b5e6d;
	font-family: 'AvenirNext-Regular', sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 16px 0px 24px 0px;
}

p.highlight {
	font-family: 'AvenirNext-Medium', sans-serif;
	color: #2a2a2a;
	font-size: 18px;
	line-height: 21px;
}

/* Footer text */
p.footer-text{
	margin-top: 24px;
	font-weight: 350;
	color: #111;
	font-size: 18px;
}

/*
============================
	END OF TEXT CLASSES
============================
*/


/*
==================================
	START OF HYPERLINK CLASSES
==================================
*/

a{
	font-family: 'AvenirNext-Medium', sans-serif;
	color: #444;
	display: inline-block;
	text-decoration: none;
}

a:hover,
a:focus,
a:active
 {
	text-decoration: none;
	color: #FD926F;
}

.cv{
	font-size: 1.25em !important;
	margin-top: 24px !important;
}

.cv:hover,
.cv:focus,
.cv:active
 {
	color: #FD926F;
}

/*
==================================
	END OF HYPERLINK CLASSES
==================================
*/


/*
================================
	START OF MARGIN CLASSES
================================
*/
.nomargin {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.nomargin-top {
	margin-top: 0px !important;
}

.nomargin-side {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.center-align {
	margin-left: auto !important;
	margin-right: auto !important;
}

.margin-top-xs {
	margin-top: 12px !important;
}

.margin-btm-xs {
	margin-bottom: 12px !important;
}

.margin-top-sm {
	margin-top: 24px !important;
}

.margin-btm-sm {
	margin-bottom: 24px !important;
}

.margin-sm {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
}

.margin-top-md {
	margin-top: 48px !important;
}

.margin-btm-md {
	margin-bottom: 48px !important;
}

.margin-top-lmd {
	margin-top: 60px !important;
}

.margin-btm-lmd {
	margin-bottom: 60px !important;
}

.margin-top-lg {
	margin-top: 80px !important;
}

.margin-btm-lg {
	margin-bottom: 80px !important;
}

.margin-lg {
	margin-top: 80px !important;
	margin-bottom: 80px !important;
}

.margin-top-xl {
	margin-top: 160px !important;
}

.padding-sm {
	padding: 5px !important;
}

.padding-md {
	padding: 15px !important;
}

.no-padding {
	padding-left: 0px !important;
}

.margin-xs-shrink {
	margin-top: 1px !important;
}

.margin-cover {
	margin-top: 180px;
}

.shiftup{
	margin-top: -32px !important;
}


/*
================================
	END OF MARGIN CLASSES
================================
